<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p>ORIGINAL. EXCLUSIVE. PREMIUM.</p>
            <p>xyz.com, a subsidiary of xyz.com Telefilms Limited, is the Group’s foray into the Digital Entertainment space.
                After conquering television and making a strong mark in films, xyz.com Telefilms aims to reach out directly
                to individual audiences, by providing them with original, exclusive and tailor-made shows, that they can
                access at their fingertips. </p>
            <p>WHAT'S IN STORE? FRESH STORIES. LIKE NEVER BEFORE.</p>
            <p> xyz.com offers fresh, original and exclusive stories. Tailored especially for Indians across the globe, the platform
                hosts premium, high quality shows featuring popular celebrities, acclaimed writers, and award winning directors,
                making xyz.com a true alternative to mainstream entertainment.
                <!--<p>STORIES FOR EVERYONE With</p>
                <p>stories from different worlds, in genres ranging from thrillers, mystery and crime to drama, comedy and romance;
                    xyz.com has shows for everyone, from college going youngsters to professionals with families.
                    <p>REGION NO BAR</p>
                    <p> xyz.com will host shows in various languages, catering to our regional language speakers, both in India
                        and abroad.</p>
                    <p>TECHNOLOGY, YOUR ENABLER.</p>
                    <p> xyz.com is a subscription based video on demand (SVOD) service. Available across multiple interfaces
                        ranging from desktops, laptops, tablets, smart-phones to internet-ready television, xyz.com marries
                        state-of-the-art technology with gripping storytelling.
                    </p>-->

        </div>
    </div>
</div>