/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dee2e6;
  text-align: center;
  height: 30px;
}
.error{
  color:red;
}
